.urtext-parent{
  text-align: right !important;
}

.urtext-self{
  direction: rtl !important;
  letter-spacing: 0px !important; /* some sites use this and cause font damage */
}

.urtext-font-alqalam-shakir{ font-family: AlQalam Shakir !important; }
.urtext-font-alqalam-tehreeri{ font-family: AlQalam Tehreeri !important; }
.urtext-font-jameel-noori-kasheeda{ font-family: Jameel Noori Kasheeda !important; }
.urtext-font-jameel-noori-nastaleeq{ font-family: Jameel Noori Nastaleeq !important; }
.urtext-font-nafees-naskh{ font-family: Nafees Naskh !important; line-height: 1.6em !important; }
.urtext-font-nafees-web-naskh{ font-family: Nafees Web Naskh !important; }
.urtext-font-pdms-bukhari{ font-family: PDMS Bukhari !important; }
.urtext-font-pdms-pencil-nafees{ font-family: PDMS Pencil Nafees !important; }
.urtext-font-rouqa{ font-family: Rouqa !important; }