div.font-size, div.line-height {
  text-align: right;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: bottom;
  padding: 4px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

.value-button.minus {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

.value-button.plus {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

#fs-number, #lh-number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 24px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}